/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #dedede;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bebebe; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}





.yes, .no {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/yes.svg);
    background-position: -30px;
    vertical-align: middle;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.no {
    background: url(../img/no.svg);
    background-position: -30px;
}

.yes-top:hover, .no-top:hover {
    opacity: 0;
    cursor: pointer;
}

.yes.clicked, .no.clicked {
    background-position: 0;   
}

.yes-top, .no-top {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 0 0 -36px;
    background: url(../img/yes.svg);
    background-position: -30px;
    vertical-align: middle;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;
    -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 ); 
}

.no-top {
    background: url(../img/no.svg);
    background-position: -30px;
}

.yes-top.clicked, .no-top.clicked {
    background-position: 0;
    -webkit-transform: scale( 6 );-moz-transform: scale( 6 );-o-transform: scale( 6 );-ms-transform: scale( 6 );transform: scale( 6 );
    opacity: 0.1;
}


